{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; min-height: 50%; position:relative; top:70px;">
    <div class="container mt-2">
        <h5 class="mb-4 pt-3"> Chính sách bảo mật </h5>
        <hr/>

        <h6 class="mb-3">EduShare cam kết sẽ bảo mật những thông tin mang tính riêng tư của Thành viên. Thành viên có thể đọc bản “Chính sách bảo mật” để hiểu hơn những cam kết mà Ban quản trị thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập</h6>
        <h6>1. Thông tin Thành viên</h6>
        <p>Để truy cập và sử dụng một số dịch vụ tại EduShare, thành viên sẽ được yêu cầu đăng ký với Ban quản trị thông tin cá nhân (Email, Họ tên, số điện thoại liên lạc,...) Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. EduShare không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.</p>
        
        <h6>2. Sử dụng thông tin cá nhân</h6>
        <p>EduShare thu thập và sử dụng thông tin cá nhân của thành viên với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.
            Khi cần thiết, ban quản trị có thể sử dụng thông tin này để liên hệ trực tiếp với thành viên như: gửi thư ngỏ, thư cảm ơn, những thay đổi đối với tài khoản, thông tin về kỹ thuật.</p>
        
        <h6>3. Chia sẻ thông tin cá nhân</h6>
        <p>Ngoại trừ các trường hợp về Sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.
            Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án. Bên thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành dự án.
            Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của các cơ quan pháp luật; (b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật; (c) tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên EduShare</p>

        <h6>4. Chính sách bảo mật đối với tài liệu</h6>
        <p>EduShare có quyền ngăn chặn tạm thời hoặc vĩnh viễn sự truy cập và sử dụng website của Thành vên nếu như Thành viên có hành động gây hại đến website hoặc vi phạm Điều Khoản Thỏa Thuận về Sử Dụng Dịch Vụ mà không phải bồi thường bất kỳ thiệt hại nào cho Thành viên.</p>
        <p>EduShare có quyền cung cấp thông tin cá nhân của Thành viên cho bên thứ ba và/hoặc cơ quan nhà nước có thẩm quyền trong trường hợp Thành viên vi phạm quy định đăng tải thông tin, tài liệu trên website EduShare hoặc theo yêu cầu của cơ quan Nhà nước.
            Khi tòa án, viện kiểm sát, cảnh sát, cơ quan thuế, văn phòng luật sư, trung tâm bảo vệ người tiêu dùng, các cơ quan có thẩm quyền tương đương, hoặc công ty làm về bảo mật yêu cầu công ty chúng tôi cung cấp thông tin cá nhân, EduShare sẽ cung cấp thông tin cá nhân của các thành viên với mục đích bảo vệ quyền lợi, thương hiệu, tài sản của EduShare.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock %}