{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link href="/static/css/all_document.css" rel="stylesheet">
<style>
    .dropdown-menu li {
        position: relative;
    }
    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
    }

</style>
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; min-height: 50%; position:relative; top:70px;">
    <div class="container mt-2">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownSort" data-sort="{{sort}}" data-bs-toggle="dropdown" aria-expanded="false">
                        Sắp xếp:
                        {% if sort == 0 %}
                            Tất cả
                        {% elif sort == 1 %}
                            Tải nhiều
                        {% elif sort == 2 %}
                            Xem nhiều
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSort">
                        <li><a class="dropdown-item" onclick="clickSort(0)">Tất cả</a></li>
                        <li><a class="dropdown-item" onclick="clickSort(1)">Tải nhiều</a></li>
                        <li><a class="dropdown-item" onclick="clickSort(2)">Xem nhiều</a></li>
                    </ul>
                </div>
            </div> 
            <div class="p-2 bd-highlight">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownCat" data-bs-toggle="dropdown" aria-expanded="false">
                        Danh mục: {{ cat_name }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCat">
                    {% for category in categories %}
                        {% if category["parent_id"] is none %}
                        <li><a class="dropdown-item" data-cat-id="{{category['id']}}" data-cat-name="{{category['name']}}" onclick="clickCat(`{{category['id']}}`, `{{category['name']}}`)"> {{ category["name"] }} &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu dropdown-submenu-right">
                                {% for categoryItem in categories %}
                                    {% if categoryItem["parent_id"] is not none and category["id"] == categoryItem["parent_id"] %}
                                        <li><a class="dropdown-item" data-cat-id="{{categoryItem['id']}}" data-cat-name="{{categoryItem['name']}}" onclick="clickCat(`{{categoryItem['id']}}`, `{{categoryItem['name']}}`)">{{ categoryItem["name"] }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %} 
                    </ul>
                </div>
            </div> 
            <div class="p-2 bd-highlight">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownSell" data-sell='{{ is_sell }}' data-bs-toggle="dropdown" aria-expanded="false">
                        Giá bán: 
                        {% if is_sell == 0 %}
                            Tất cả
                        {% elif is_sell == 1 %}
                            Miễn phí
                        {% elif is_sell == 2 %}
                            Mất phí
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSell">
                        <li><a class="dropdown-item" onclick="clickSell(0)">Tất cả</a></li>
                        <li><a class="dropdown-item" onclick="clickSell(1)">Miễn phí</a></li>
                        <li><a class="dropdown-item" onclick="clickSell(2)">Mất phí</a></li>
                    </ul>
                </div>
            </div> 
        </div> 
        <p class="text-right mt-3">
            {{ documents.first }} - {{ documents.last }} trong {{documents.total}} kết quả
        </p>
        <div id="all_document" class="d-flex bd-highlight flex-wrap">
            {% for document in documents.items %}
            <div class="carousel-item mb-5" onclick="openDocumentDetail('{{document[0].id}}')">
                <div class="card">
                    <div class="img-wrapper"><div style="width: 140px; height:174px;position: absolute;top: 24px"><img src="{{ document[0].image }}" class="d-block img-detail" alt="..."> </div></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ document[0].document_name | get_only_document_name }}</h5>
                        <p class="card-text">Được thêm bởi {{ document[1] }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex bd-highlight">
                            <div id="save_doc_{{ document[0].id }}" class="p-2 flex-grow-1 bd-highlight"><i class="bi bi-bookmark"></i></div>
                            <div class="p-2 bd-highlight"><i class="bi bi-hand-thumbs-up"></i><span>{{ document[0].evaluate | count_evaluate }}%</span></div>
                            <div class="p-2 bd-highlight"><i class="bi bi-download"></i><span>{{ document[0].download_count }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-right">
            <a onclick="clickPage(`{{documents.prev_num}}`)"
               class="btn btn-outline-dark {% if documents.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>
            {% for page_num in documents.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if documents.page == page_num %}
                        <a onclick="clickPage(`{{page_num}}`)" class="btn btn-dark">
                            {{ page_num }}
                        </a>
                    {% else %}
                        <a onclick="clickPage(`{{page_num}}`)" class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            <a onclick="clickPage(`{{documents.next_num}}`)" class="btn btn-outline-dark 
                {% if documents.page == documents.pages %}disabled{% endif %}">
                    &raquo;
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    async function getUser(){
        url = baseURL + "/api/v1/user-token"
        var base_img = document.getElementById("base-img")

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                user.lg_fullname.innerHTML = result.data["fullname"];
                user.email.innerHTML = result.data["email"];
                user.ls_fullname.innerHTML = result.data["fullname"];
                user.coin.innerHTML = result.data["coin"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                user.base_coin.innerHTML = result.data["coin"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                base_img.innerHTML = result.data["fullname"][0];
                openLogin();
                userCurrentId = result.data["id"]
                getAllDocSaved();
            }
            else{
                userCurrentId = null;
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocSaved(){
        url = baseURL + "/document/get_all_saved"

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                for(var i = 0; i < result.data.length; ++i){
                    var save_doc = document.getElementById('save_doc_' + result.data[i].id);
                    if(save_doc != null)
                        save_doc.innerHTML = `<i class="bi bi-bookmark-fill"></i>`
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function openDocumentDetail(id){
        window.location.replace(baseURL + "/document/" + id)
    }

    function setUrl(sort, is_sell, cat_id, cat_name, page=null){
        url = baseURL + "/search-documents?query={{query}}";

        if (sort != 0)
            url += "&sort=" + sort;

        if (cat_id != 0)
            url += "&cat_id=" + cat_id + "&cat_name=" + cat_name;

        if (is_sell != 0)
            url += "&is_sell=" + is_sell;

        if (page){
            url += "&page=" + page;
        }

        return url;
    }

    function clickSort(sort){
        url = setUrl(sort, `{{is_sell}}`, `{{cat_id}}`, `{{cat_name}}`);
        window.location.replace(url);
    }

    function clickCat(cat_id, cat_name){
        url = setUrl(`{{sort}}`, `{{is_sell}}`, cat_id, cat_name);
        window.location.replace(url);
    }

    function clickSell(sell){
        url = setUrl(`{{sort}}`, sell, `{{cat_id}}`, `{{cat_name}}`);
        window.location.replace(url);
    }

    function clickPage(page){
        url = setUrl(`{{sort}}`, `{{is_sell}}`, `{{cat_id}}`, `{{cat_name}}`, page);
        window.location.replace(url);
    }
</script>
{% endblock %}