{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link href="/static/css/all_document.css" rel="stylesheet">
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; position:relative; top:70px;">
    <div class="container mt-5">
    <div id="titleDocumentSave" class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight h2">Tài liệu đã lưu</div>
    </div>
    <div id="carouselSavedControls" class="carousel">
      <div class="carousel-inner">
      </div>
    </div>
    <h2 class="mt-5">Tài liệu mới nhất</h2>
    <div id="carouselNewControls" class="carousel">
      <div class="carousel-inner">
      </div>
    </div>
    <h2 class="mt-5">Tài liệu xem nhiều</h2>
    <div id="carouselViewControls" class="carousel">
      <div class="carousel-inner">
      </div>
    </div>
  </div>
  </div>{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/all_document.js"></script>
<script>

    window.onload = function()
    {
        getAllDocNew();
        getAllDocView();
        getAllDocSaved();

        if(localStorage.token){
            getUser();
        }
        else
            closeLogin();
    };

    async function sendFormLogin(){
        resetErrorInputOfFormLogin();

        var url = baseURL + '/api/v1/login'

        data = {
            'email': fields_login.email.input.value,
            'password': fields_login.password.input.value
        }

        try {
            const result = await postDataNoAuthorization(url, data);
            if (result.code === -2){
                const errors = result.data;

                Object.keys(errors).forEach((key) => {
                    fields_login[key].input.classList.add('is-invalid');
                    fields_login[key].error.innerHTML = errors[key][0];
                });
            }
            else if (result.code === -1){
                alert("Có lỗi xảy ra vui lòng thử lại sau");    
                console.log("Đăng nhập thất bại");
            }
            else{
                localStorage.setItem("token", result.data)
                getUser();
                clickCloseLogin();
                resetValueInputOfFormLogin();
                getAllDocNew();
                getAllDocView();
                getAllDocSaved();
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocNew(){
        url = baseURL + "/document/get_all_new"

        try {
            const result = await getDataNoAuthorization(url);
            if (result.code === 0){
                var carouselNewControls_carouselInner = document.querySelector("#carouselNewControls .carousel-inner")
                html = "";
                result.data.forEach(document => {
                    html += showDocument(document);
                });
                carouselNewControls_carouselInner.innerHTML = html;

                if(result.data.length >= 6){
                    var carouselNewControls = document.querySelector("#carouselNewControls")
                    carouselNewControls.appendChild(showPrev("clickPrevNewDoc()"));
                    carouselNewControls.appendChild(showNext("clickNextNewDoc()"));
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocSaved(){
        url = baseURL + "/document/get_all_saved"

        try {
            const result = await getData(url);
            if (result.code === 0){
                var titleDocumentSave = document.getElementById("titleDocumentSave")
                titleDocumentSave.innerHTML = `<div class="p-2 flex-fill bd-highlight h2">Tài liệu đã lưu</div>
                                            <div class="p-2 flex-fill bd-highlight text-end"><a href="#" style="color: #0a58ca; text-decoration: underline">Xem toàn bộ</a></div>`

                var carouselSavedControls_carouselInner = document.querySelector("#carouselSavedControls .carousel-inner")
                html = "";
                result.data.forEach(document => {
                    html += showDocument(document);
                });
                carouselSavedControls_carouselInner.innerHTML = html;

                if(result.data.length >= 6){
                    var carouselSavedControls = document.querySelector("#carouselSavedControls")
                    carouselSavedControls.appendChild(showPrev("clickPrevSavedDoc()"));
                    carouselSavedControls.appendChild(showNext("clickPrevNextDoc()"));
                }
            }
            else {
                var carouselSavedControls_carouselInner = document.querySelector("#carouselSavedControls .carousel-inner")
                carouselSavedControls_carouselInner.innerHTML = `<h5 class="text-center">Hãy <a style="color: #0a58ca; text-decoration: underline" onclick="clickLogin()">đăng nhập</a> để xem</h5>`
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocView(){
        url = baseURL + "/document/get_all_view"

        try {
            const result = await getDataNoAuthorization(url);
            if (result.code === 0){
                var carouselViewControls_carouselInner = document.querySelector("#carouselViewControls .carousel-inner")
                html = "";
                result.data.forEach(document => {
                    html += showDocument(document);
                });
                carouselViewControls_carouselInner.innerHTML = html;

                if(result.data.length >= 6){
                    var carouselViewControls = document.querySelector("#carouselViewControls")
                    carouselViewControls.appendChild(showPrev("clickPrevViewDoc()"));
                    carouselViewControls.appendChild(showNext("clickNextViewDoc()"));
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function calculateLikePercentage(evaluate){
        var sum = 0;
        var like = 0;

        evaluate.forEach(data => {
            if(data["type"] === "like"){
                sum += 1;
                like += 1;
            }
            else if(data["type"] === "dislike"){
                sum += 1;
            }
        });

        if(sum == 0)
            return 0;

        var result = like / sum * 100
        if (isFloat(result))
            return result.toFixed(2)

        return result;
    }

    function isFloat(n){
        return Number(n) === n && n % 1 !== 0;
    }

    function checkDocumentSaved(evaluate){
        for(var data of evaluate){
            if(userCurrentId !== null && data["type"] === "save" && userCurrentId === data["account_id"])
                return true;
        } 

        return false;
    }

    function showNext(methodClickNext){        
        var buttonNext = document.createElement("button")
        buttonNext.classList.add("carousel-control-next")
        buttonNext.setAttribute("type", "button")
        buttonNext.setAttribute("onclick", methodClickNext)

        var spanIconNext = document.createElement("span")
        spanIconNext.classList.add("carousel-control-next-icon")
        spanIconNext.setAttribute("aria-hidden", "true")

        var spanNameNext = document.createElement("span")
        spanNameNext.classList.add("visually-hidden")
        spanNameNext.innerHTML = "Next"

        buttonNext.appendChild(spanIconNext)
        buttonNext.appendChild(spanNameNext)

        return buttonNext;
    }

    function showPrev(methodClickPrev){
        var buttonPrev = document.createElement("button")
        buttonPrev.classList.add("carousel-control-prev")
        buttonPrev.setAttribute("type", "button")
        buttonPrev.setAttribute("onclick", methodClickPrev)

        var spanIconPre = document.createElement("span")
        spanIconPre.classList.add("carousel-control-prev-icon")
        spanIconPre.setAttribute("aria-hidden", "true")

        var spanNamePre = document.createElement("span")
        spanNamePre.classList.add("visually-hidden")
        spanNamePre.innerHTML = "Previous"

        buttonPrev.appendChild(spanIconPre)
        buttonPrev.appendChild(spanNamePre)

        return buttonPrev;
    }

    function getOnlyFileName(fileName){
        return fileName.split('.').slice(0, -1).join('.')
    }

    function showDocument(document){
        html = `<div class="carousel-item active" onclick="openDocumentDetail(${document["id"]})">
                    <div class="card">`

        if(document["image"] != null)
            html += `<div class="img-wrapper"><div style="width: 132px; height:174px;position: absolute;top: 24px;"><img src="data:image/png;base64,${document["image"]}" class="d-block img-detail" alt="..."> </div></div>`
        else
            html += `<div class="img-wrapper"><div style="width: 132px; height:174px;position: absolute;top: 24px"><img src="/static/images/anh11.png" class="d-block img-detail" alt="..."> </div></div>`
                        
        html += `<div class="card-body">
                    <h5 class="card-title">${getOnlyFileName(document["document_name"])}</h5>
                    <p class="card-text">Được thêm bởi ${document["fullname"]}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex bd-highlight">`
        
        if(checkDocumentSaved(document["evaluate"]))
            html += `<div class="p-2 flex-grow-1 bd-highlight"><i class="bi bi-bookmark-fill"></i></div>`
        else
            html += `<div class="p-2 flex-grow-1 bd-highlight"><i class="bi bi-bookmark"></i></div>`

        html += `       <div class="p-2 bd-highlight"><i class="bi bi-hand-thumbs-up"></i><span>${calculateLikePercentage(document["evaluate"])}%</span></div>
                        <div class="p-2 bd-highlight"><i class="bi bi-download"></i><span>${document["download_count"]}</span></div>
                    </div>
                  </div>
              </div>
          </div>`

        return html;
    }

    function openDocumentDetail(id){
        window.location.replace(baseURL + "/document/" + id)
    }
</script>
{% endblock %}