{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="/static/css/document_detail.css" rel="stylesheet">
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="margin-bottom: 80px; width:100%; position:relative; top:70px;">
    <div>
        <div class="row">
            <div class="col-4">
                <nav class="navbar navbar-expand-lg px-3">
                    <div class="container-md">
                        <a id="selectDetail" class="navbar-brand col-6 text-center" onclick="clickInfoDetail()"
                            style="cursor: pointer; color: rgb(2, 126, 176); border-color: rgb(2, 126, 176); border-bottom: 5px solid rgb(2, 126, 176);">Thông
                            tin</a>
                        <a id="selectAI" class="navbar-brand col-6 text-center" style="cursor: pointer;" onclick="clickAI()">Hỏi AI</a>
                    </div>
                </nav>
                <div id="infor-detail" class="px-4"
                    style="width:100%; height:690px; overflow-y:scroll; scrollbar-width: none;">
                    <h3>{{ document["document_name"] }}</h3>
                    <div>
                        <p>Tài liệu này được cấp phép theo: 
                            <a href="/terms#CC" style="display:inline-block;">
                                {% if document["license"] == "Copyright" %}
                                    <img style="height:40px!important;margin-left:3px;vertical-align:text-center;" src="https://s-f.scribdassets.com/images/static/copyright/cc/copyright.png" alt="Giấp phép truyền thống">
                                {% elif document["license"] == "Public" %}
                                    <img style="height:40px!important;margin-left:3px;vertical-align:text-center;" src="https://s-f.scribdassets.com/images/static/copyright/cc/public-domain.png" alt="Phạm vi công cộng">
                                {% else %}
                                    {% for component in document["license"]|component_license %}
                                        {% if component != 'cc'%}
                                            <img style="height:40px!important;margin-left:3px;vertical-align:text-center;" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/{{component}}.png" alt="">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>  
                        </p>
                    </div>
                    <p>
                        <span class="me-2">
                            <i class="bi bi-eye"></i> {{ document["view_count"]}}
                        </span>
                        <span id="download_count">
                            <i class="bi bi-download"></i> {{ document["download_count"]}}
                        </span>
                    </p>
                    <p>{{ document["description"] }}</p>
                    <p>Danh mục:
                        {% for value in document["categories"] %}
                        <a href="/categories/{{value['name']}}"
                            style="color: var(--bs-link-color); text-decoration: underline;">{{ value["name"] }}</a>
                        {% endfor %}
                    </p>
                    <p>Được tải lên bởi <a href="/user/{{document['account_id']}}-trang-ca-nhan"
                            style="color: var(--bs-link-color); text-decoration: underline;"> {{ document["fullname"] }}
                        </a></p>
                    <h5>Đề xuất cho bạn</h5>
                    <div id="de-xuat">
                    </div>
                    <h5>Tài liệu liên quan</h5>
                    <div id="lienquan">
                    </div>
                </div>
                <div id="ai-detail" class="px-3" style="height:650px; overflow-y:scroll; display: none;">
                    <div class="chat-container">
                    </div>
                    <div class="typing-container col-4">
                        <div class="input-group" style="padding: 5px 20px 5px 5px">
                            <textarea id="chat-input" type="text" class="form-control me-2"
                                placeholder="Nhập câu hỏi vào đây"></textarea>
                            <svg onclick="sendAsk()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                <path
                                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 ps-0 pe-2" style="background-color: #f8f9fa; position: relative;">
                <div class="d-flex bd-highlight ps-2 pt-1 pe-3">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <button id="btn_download" type="button" class="btn rounded-pill fw-normal p-2 px-3 fs-6"
                            style="background-color: rgb(2, 126, 176); color: white;" onclick="downloadDocument()">
                            <i class="bi bi-download"></i> Tải xuống
                        </button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button id="doc_like" type="button" class="btn btn-outline-success rounded-pill"
                            data-count="{{ document['like'] }}" onclick="likeDocument()"><i
                                class="bi bi-hand-thumbs-up"></i> {{ document["like"] }}</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button id="doc_dislike" type="button" class="btn btn-outline-warning rounded-pill"
                            data-count="{{ document['dislike'] }}" onclick="dislikeDocument()"><i
                                class="bi bi-hand-thumbs-down"></i> {{ document["dislike"] }}</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button id="doc_save" type="button" class="btn btn-outline-secondary rounded-pill"
                            onclick="saveDocument()"><i class="bi bi-bookmark"></i> Lưu</button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="dropdown">
                            <button id="dropdown" type="button" class="btn btn-outline-secondary rounded-pill"
                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                    class="bi bi-share-fill"></i></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#" onclick="shareOnFacebook()">Chia sẻ trên
                                        facebook</a></li>
                                <li><button class="dropdown-item copylink">Sao chép link</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button id="doc_dislike" type="button" class="btn btn-danger rounded-pill"
                            onclick="reportDocument(`{{ document['id'] }}`)"><i class="bi bi-flag"></i> Báo cáo</button>
                    </div>
                </div>
                <div id="pdf-container" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="10"
                    style="width:100%;height:690px;overflow-y:scroll; background-color: #f8f9fa; scrollbar-width:thin;"
                    onscroll="scrollPage()">
                </div>
                <div class="d-flex justify-content-around bd-highlight mb-3 col-5 rounded-pill mx-auto"
                    style="background-color: #2f3e4e; position: absolute; bottom: 25px; left: 50%; transform: translateX(-50%);">
                    <div class="p-2 bd-highlight">
                        <svg onclick="clickUp()" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#d3d9e0" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5" />
                        </svg>
                        <span class="me-2"></span>
                        <svg onclick="clickDown()" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#d3d9e0" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
                        </svg>
                    </div>
                    <div class="p-2 bd-highlight">
                        <input id="input_page" type="text"
                            style="background-color: #2f3e4e; color: #d3d9e0;border: 1px solid #d3d9e0; border-radius: 12px; width: 45px;">
                        <span id="number_page" class="ps-2" style="color: #d3d9e0;"></span>
                    </div>
                    <div class="p-2 bd-highlight">
                        <svg onclick="click_zoom_in()" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#d3d9e0" class="bi bi-zoom-out" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
                            <path
                                d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z" />
                            <path fill-rule="evenodd"
                                d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                        </svg>
                        <span class="me-2"></span>
                        <svg onclick="click_zoom_out()" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="#d3d9e0" class="bi bi-zoom-in" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
                            <path
                                d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z" />
                            <path fill-rule="evenodd"
                                d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form-report" class="d-flex align-items-center justify-content-center"
    style="height:100vh; width:100vw; background-color:rgba(0, 0, 0, 0.2); visibility: hidden; position:fixed; top:0px; z-index: 999;">
    <div class="container d-flex justify-content-center" style="position: fixed;">
        <div class="register bg-white col-xl-6 p-4 rounded-3">
            <div class="d-flex justify-content-end">
                <button id="close-form-login" type="button" class="btn-close text-right"
                    onclick="clickCloseReport()"></button>
            </div>
            <h3 class="text-center mb-3" style="color: rgb(2, 126, 176)">Bạn hãy chắc chắn khi báo xấu tài liệu này</h3>
            <div id="content-form-report" class="py-2">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label h5">Nội dung</label><strong
                        style="color: red"> *</strong>
                    <textarea id="form-report-content" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        required></textarea>
                    <div id="input-content-report-error" class="invalid-feedback mb-1"></div>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label h5">Tài liệu</label><strong style="color: red"> *</strong>
                    <div class="flex text-gray-400">
                        <span>Tài liệu đính kèm không quá 5MB</span>
                    </div>
                    <input class="form-control" type="file" id="form-report-file" accept=".doc, .docx, .pdf" required>
                    <div id="input-file-report-error" class="invalid-feedback mb-1"></div>
                </div>
            </div>
            <div id="form-report-footer" class="text-center">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script type="text/JavaScript">
    var message="NoRightClicking"; 
    function defeatIE() {
        if (document.all) {
            (message);return false;
        }
    } 

    function defeatNS(e) {
        if (document.layers||(document.getElementById&&!document.all)) { 
            if (e.which==2||e.which==3) {(message);return false;}
        }
    }

    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;
    } else{
        document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;
    }
    
    document.oncontextmenu=new Function("return false") 
</script>
<script>
    const document_id = `{{ document["id"] }}`
    const document_name = `{{document["document_name"]}}`
    const type = `{{document["type"]}}`;
    const nameFile = document_name + `.` + type;
    let currentScale = 1.5;
    let currentPage = 1;
    let pageNumber = 0;
    let user_id = null;

    window.onload = function () {
        if (localStorage.token) {
            getUser();
            getDocumentAllDetail();
            getEvaluate();
        }
        else
            closeLogin();

        document.getElementById("footer").style.display = "none";

        initPdf();
        getDocDeXuat();
        getDocLienQuan(`{{document["categories"][1]["name"]}}`);
    };

    let firstFullName = ""

    async function getUser() {
        var url = baseURL + "/api/v1/user-token"

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0) {
                user.lg_fullname.innerHTML = result.data["fullname"];
                firstFullName = result.data["fullname"][0];
                openLogin();
                userCurrentId = result.data["id"];
                updateCountAsk(result);
            }
            else if (result.code == -4) {
                userCurrentId = null;
                localStorage.setItem("token", "");
                closeLogin();
            }
            else {
                userCurrentId = null;
                closeLogin();
            }
        } catch (error) {
            console.log(error.message);
            closeLogin();
        }
    }

    async function getDocumentAllDetail() {
        var url = baseURL + "/user/user_premium"

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0) {
                user_id = result.data["id"];
                initPdf();
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function initPdf() {
        var pdfTT = pdfjsLib.getDocument('https://edushare-s3.s3.amazonaws.com/' + nameFile);

        pdfTT.promise.then((pdf) => {
            let pdf_container = document.getElementById("pdf-container");
            pdf_container.innerHTML = "";

            console.log("Hiện có " + pdf.numPages + " trang");
            pageNumber = pdf.numPages;
            document.getElementById("number_page").innerHTML = "/" + pageNumber;

            for (let i = 1; i <= pdf.numPages; ++i) {
                pdf.getPage(i).then(page => {
                    let divContext = document.createElement("div");
                    divContext.style.position = "relative";
                    divContext.setAttribute("id", "thu" + i)

                    let pdfCanvas = document.createElement("canvas");
                    let context = pdfCanvas.getContext("2d");
                    let pageViewPort = page.getViewport({ scale: currentScale });
                    pdfCanvas.style.marginBottom = "10px";
                    pdfCanvas.style.marginTop = "10px";
                    pdfCanvas.style.marginLeft = "auto"
                    pdfCanvas.style.marginRight = "auto"
                    pdfCanvas.style.display = "block"
                    pdfCanvas.width = pageViewPort.width;
                    pdfCanvas.height = pageViewPort.height;
                    divContext.appendChild(pdfCanvas);

                    if (user_id == null && i > (pdf.numPages / 100 * 20)) {
                        pdfCanvas.style.filter = "blur(9px)"
                        let notify = document.createElement("div")
                        notify.style.position = "absolute";
                        notify.style.top = "50%";
                        notify.style.left = "50%"
                        notify.style.transform = "translateX(-50%)";
                        notify.innerHTML = `<table width="60%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12)">
                                                <tbody><tr>
                                                    <td style="height:40px;">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 15px;">
                                                            <h1 class="fw-bold" style="color:rgb(2, 126, 176); font-weight:400; margin:0;font-size:30px;">EduShare</h1>
                                                            <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                                            <h6 style="color:#171f23de; font-size:15px;line-height:24px; margin:0;">
                                                                Bạn đang đọc bản xem trước. Hãy mua tài liệu để có thể đọc toàn bộ tài liệu.
                                                            </h6>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height:40px;">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>`
                        divContext.appendChild(notify);
                    }

                    page.render({
                        canvasContext: context,
                        viewport: pageViewPort
                    });
                    pdf_container.append(divContext);
                }).catch(pageErr => {
                    console.log(pageErr);
                });
            }
        });
    }

    function clickUp() {
        if (currentPage > 1) {
            currentPage -= 1;
        }
        location.href = "#thu" + currentPage;
    }

    function clickDown() {
        if (currentPage < pageNumber) {
            currentPage += 1;
        }
        location.href = "#thu" + currentPage;
    }

    function click_zoom_in() {
        currentScale -= 0.5;
        initPdf();
    }

    function click_zoom_out() {
        currentScale += 0.5;
        initPdf();
    }

    var input = document.getElementById("input_page");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            location.href = "#thu" + input.value;
        }
    });

    function clickInfoDetail() {
        api_key = null;

        document.getElementById("infor-detail").style.display = "block";
        document.getElementById("ai-detail").style.display = "none";

        var selectAI = document.getElementById("selectAI");
        selectAI.style.borderColor = null;
        selectAI.style.borderBottom = null;
        selectAI.style.color = null;

        var selectDetail = document.getElementById("selectDetail")
        selectDetail.style.borderColor = "rgb(2, 126, 176)";
        selectDetail.style.borderBottom = "5px solid rgb(2, 126, 176)";
        selectDetail.style.color = "rgb(2, 126, 176)";
    }

    async function clickAI() {
        var url = baseURL + "/user/user_premium"

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0) {
                loadDocumentToAsk();
                document.getElementById("ai-detail").style.display = "block";
                document.getElementById("infor-detail").style.display = "none";

                var selectAI = document.getElementById("selectAI");
                selectAI.style.borderColor = "#f064fc";
                selectAI.style.borderBottom = "5px solid #f064fc";
                selectAI.style.color = "#f064fc"

                var selectDetail = document.getElementById("selectDetail")
                selectDetail.style.borderColor = null;
                selectDetail.style.borderBottom = null;
                selectDetail.style.color = null;

                var chatContainer = document.getElementsByClassName("chat-container")[0];
                chatContainer.innerHTML = "";

                showAIResponse("Bạn có thể đặt bất kỳ câu hỏi nào liên quan đến tài liệu này. Và hệ thống sẽ không lưu trữ lịch sử hỏi đáp.")
            }
            else {
                show_base_alert(-1, "Hãy lên tài khoản premium để thực hiện tính năng này.");
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function scrollPage() {

    }

    function createElement(html, className) {
        const chatDiv = document.createElement("div");
        chatDiv.classList.add("d-flex", "bd-highlight", "mb-3", "chat", className);
        chatDiv.innerHTML = html;
        return chatDiv;
    }

    async function loadDocumentToAsk(){
        var url = baseURL + "/ai/load_doc";

        try {
            const result = await postData(url, null, localStorage.token);
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getChatResponse(incomingChatDiv) {
        const url = baseURL + "/ai/ask_ai";

        data = {
            "document_name": document_name,
            "ask": `${userText}`,
            "document_id": document_id,
            "api_key": api_key
        }

        try {
            const result = await postData(url, data, localStorage.token);
            if (result.code === -1) {
                incomingChatDiv.innerHTML = showResponse(result.message);
            }
            else if (result.code === -4) {
                show_base_alert(-1, result.message);
                clickInfoDetail();
            }
            else {
                incomingChatDiv.innerHTML = showResponse(result.data);
            }
        } catch (error) {
            response = "Có chuyện gì đó xảy ra khi nhận phản hồi. Xin vui lòng thử lại sau";
            incomingChatDiv.innerHTML = showResponse(response);
        }
    }

    const showResponse = (response) => {
        const html = `<div class="p-2 bd-highlight"><img src="/static/images/chatbot.PNG" class="rounded-circle" alt="chatbot-img" style="width: 40px; height: auto;"></div>
                        <div class="p-2 bd-highlight">
                            <p class="mb-0">${response}</p>
                        </div>`
        return html;
    }

    const showTypingAnimation = () => {
        const html = loading();
        const incomingChatDiv = createElement(html, "incoming");
        incomingChatDiv.style.backgroundColor = "#f8f9fa";
        var chatContainer = document.getElementsByClassName("chat-container")[0];
        chatContainer.appendChild(incomingChatDiv);

        getChatResponse(incomingChatDiv);
    }

    function loading() {
        return `<div class="p-2 bd-highlight"><img src="/static/images/chatbot.PNG" class="rounded-circle" alt="chatbot-img" style="width: 40px; height: auto;"></div>
                <div class="p-2 bd-highlight">
                    <div class="typing-animation">
                        <div class="typing-dot" style="--delay: 0.2s">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                </svg>
                        </div>
                        <div class="typing-dot" style="--delay: 0.3s">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                </svg>
                        </div>
                        <div class="typing-dot" style="--delay: 0.4s">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                </svg>
                        </div>
                    </div>
                </div>`
    }

    function showAIResponse(response) {
        html = loading();
        const incomingChatDiv = createElement(html, "incoming");
        incomingChatDiv.style.backgroundColor = "#f8f9fa";
        var chatContainer = document.getElementsByClassName("chat-container")[0];
        chatContainer.appendChild(incomingChatDiv);

        incomingChatDiv.innerHTML = showResponse(response);
    }

    let userText = null;
    let api_key = null;

    function sendAsk() {
        var lg_fullname = document.getElementById("base-login-fullname")
        number_ask = parseInt(lg_fullname.dataset.countask)

        var chatInput = document.getElementById("chat-input");
        userText = chatInput.value.trim();

        chatInput.value = "";
        const html = `<div class="p-2 bd-highlight">
                        <div class="rounded-circle bg-secondary align-self-center d-flex justify-content-center align-items-center" style="width: 35px; height: 35px;">
                            <span id="base-img" class="p text-white">${firstFullName}</span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <p class="mb-0"></p>
                    </div>
                    <div class="ms-auto p-2 bd-highlight"></div>`
        const outgoingChatDiv = createElement(html, "outgoing");
        outgoingChatDiv.querySelector("p").textContent = userText;
        var chatContainer = document.getElementsByClassName("chat-container")[0];
        chatContainer.appendChild(outgoingChatDiv);

        if (getAPIKEY(userText)) {
            api_key = getAPIKEY(userText)
            showAIResponse("API_KEY của bạn đã được lưu. Nhưng khi thoát khỏi giao diện hỏi đáp thì API_KEY của bạn sẽ bị mất.");
        }
        else {
            if (number_ask >= 10 && api_key == null)
                showAIResponse("Bạn đã hết lượt đặt câu hỏi trong ngày. Bạn có thể sử dụng OpenAi của mình để đặt câu hỏi, bằng cách cung cấp API_KEY theo cú pháp: API_KEY: {API_KEY của bạn}");
            else {
                if (api_key == null)
                    updateCountAskAPI(number_ask + 1, false);

                setTimeout(showTypingAnimation, 500);
            }
        }
    }

    function getAPIKEY(text) {
        const apiKeyIndex = text.indexOf("API_KEY:");

        if (apiKeyIndex !== -1) {
            const ancnc = text.substring(apiKeyIndex + "API_KEY:".length);
            return ancnc.trim();
        } else {
            return null;
        }
    }

    async function getDocDeXuat() {
        var url = baseURL + "/document/get_all_new?limit=5"

        try {
            const result = await getData(url);
            if (result.code === 0) {
                var divDeXuat = document.getElementById("de-xuat")
                var html = "";
                for (var i = 0; i < result.data.length; ++i) {
                    html += createDocuments(result.data[i])
                }
                divDeXuat.innerHTML = html
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getDocLienQuan(category_name) {
        var url = baseURL + `/document/category?category_name=${category_name}`

        try {
            const result = await getData(url);
            if (result.code === 0) {
                var divLienQuan = document.getElementById("lienquan")
                var html = "";
                for (var i = 0; i < result.data.length; ++i) {
                    html += createDocuments(result.data[i])
                }
                divLienQuan.innerHTML = html
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function createDocuments(document) {
        html = `<div class="row mt-3 mb-3" onclick="clickDetail(${document["id"]})" style="cursor: pointer">
                    <div class="col-2 pe-0">`
        
        if (document["image"] != null && document["image"] !== "/static/images/")
            html += `<img src="${document["image"]}"
                                alt="Generic placeholder image" class="img-fluid p-0"
                                style="width: 70px; height: 70px; border-radius: 10px;">`
        else
            html += `<img src="/static/images/default_book.png"
                                    alt="Generic placeholder image" class="img-fluid p-0"
                                    style="width: 70px; height: 70px; border-radius: 10px;">`
        html += `   </div>  
                    <div class="col-10">
                        <h6 class="m-0">${getOnlyFileName(document["document_name"])}</h6>
                        <p class="m-0">${document["fullname"]}</p>
                        <div class="p-0 bd-highlight">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <span>${calculateLikePercentage(document["evaluate"])}%</span>
                        </div>
                    </div>
                </div>`

        return html;
    }

    function clickDetail(document_id) {
        window.location.replace(baseURL + "/document/" + document_id)
    }

    function getOnlyFileName(fileName) {
        return fileName.split('.').slice(0, -1).join('.')
    }

    function calculateLikePercentage(evaluate) {
        var sum = 0;
        var like = 0;

        evaluate.forEach(data => {
            if (data["type"] === "like") {
                sum += 1;
                like += 1;
            }
            else if (data["type"] === "dislike") {
                sum += 1;
            }
        });

        if (sum == 0)
            return 0;

        var result = like / sum * 100
        if (isFloat(result))
            return result.toFixed(2)

        return result;
    }

    function isFloat(n) {
        return Number(n) === n && n % 1 !== 0;
    }

    async function likeDocument() {
        var url = baseURL + "/document/" + document_id + "/evaluate?type=like";

        try {
            const result = await postData(url, null, localStorage.token);
            if (result.code === -1) {
                show_base_alert(-1, result.message);
            }
            else {
                getDocDeXuat();
                getDocLienQuan(`{{document["categories"][1]["name"]}}`);

                if (result.data === null) {
                    var documentLike = document.getElementById("doc_like");
                    var count = parseInt(documentLike.dataset.count) - 1;
                    documentLike.innerHTML = `<i class="bi bi-hand-thumbs-up"></i> ${count}`
                    documentLike.dataset.count = count;
                }
                else {
                    var documentLike = document.getElementById("doc_like");
                    var count = parseInt(documentLike.dataset.count) + 1;
                    documentLike.innerHTML = `<i class="bi bi-hand-thumbs-up-fill"></i> ${count}`
                    documentLike.dataset.count = count;

                    var documentDisLike = document.getElementById("doc_dislike");
                    var countDisLike = parseInt(documentDisLike.dataset.count);

                    if (documentDisLike.getElementsByTagName("i")[0].classList.contains("bi-hand-thumbs-down-fill")) {
                        countDisLike -= 1;
                        documentDisLike.dataset.count = countDisLike;
                    }
                    documentDisLike.innerHTML = `<i class="bi bi-hand-thumbs-down"></i> ${countDisLike}`
                }
            }
        } catch (error) {
            show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");
            console.log(error.message);
        }
    }

    async function dislikeDocument() {
        var url = baseURL + "/document/" + document_id + "/evaluate?type=dislike";

        try {
            const result = await postData(url, null, localStorage.token);
            if (result.code === -1) {
                show_base_alert(-1, result.message);
            }
            else {
                getDocDeXuat();
                getDocLienQuan(`{{document["categories"][1]["name"]}}`);

                if (result.data === null) {
                    var documentDisLike = document.getElementById("doc_dislike");
                    var count = parseInt(documentDisLike.dataset.count) - 1;
                    documentDisLike.dataset.count = count;
                    documentDisLike.innerHTML = `<i class="bi bi-hand-thumbs-down"></i> ${count}`
                }
                else {
                    var documentDisLike = document.getElementById("doc_dislike");
                    var count = parseInt(documentDisLike.dataset.count) + 1;
                    documentDisLike.dataset.count = count;
                    documentDisLike.innerHTML = `<i class="bi bi-hand-thumbs-down-fill"></i> ${count}`

                    var documentLike = document.getElementById("doc_like");
                    var countLike = parseInt(documentLike.dataset.count);

                    if (documentLike.getElementsByTagName("i")[0].classList.contains("bi-hand-thumbs-up-fill")) {
                        countLike -= 1;
                        documentLike.dataset.count = countLike;
                    }
                    documentLike.innerHTML = `<i class="bi bi-hand-thumbs-up"></i> ${countLike}`
                }
            }
        } catch (error) {
            show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");
            console.log(error.message);
        }
    }

    async function saveDocument() {
        var url = baseURL + "/document/" + document_id + "/evaluate?type=save";

        try {
            const result = await postData(url, null, localStorage.token);
            if (result.code === -1) {
                show_base_alert(-1, result.message);
            }
            else {
                var documentSave = document.getElementById("doc_save");
                if (result.data === null) {
                    var documentSave = document.getElementById("doc_save");
                    documentSave.innerHTML = `<i class="bi bi-bookmark"></i> Lưu`
                }
                else {
                    documentSave.innerHTML = `<i class="bi bi-bookmark-fill"></i> Lưu`
                }
            }
        } catch (error) {
            show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");
            console.log(error.message);
        }
    }

    async function sendFormLogin() {
        resetErrorInputOfFormLogin();

        var url = baseURL + '/api/v1/login'

        data = {
            'email': fields_login.email.input.value,
            'password': fields_login.password.input.value
        }

        try {
            const result = await postData(url, data);
            if (result.code === -2) {
                const errors = result.data;

                Object.keys(errors).forEach((key) => {
                    fields_login[key].input.classList.add('is-invalid');
                    fields_login[key].error.innerHTML = errors[key][0];
                });
            }
            else if (result.code === -1) {
                show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");
                console.log(result.message);
            }
            else {
                localStorage.setItem("token", result.data)
                getUser();
                clickCloseLogin();
                getDocumentAllDetail();
                resetValueInputOfFormLogin();
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function downloadDocPremium(){
        fetch(baseURL + "/document/" + document_id + "/download_premium", {
                headers: {
                    'Authorization': `Bearer ${localStorage.token}`
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert("Các tài liệu bạn tải xuống cần thực hiện theo giấy phép của tài liệu.");
                        response.blob().then(blob => {
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement("a")
                            a.href = url;
                            a.download = document_name
                            a.click();
                            window.URL.revokeObjectURL(url)
                        });
                    }
                    else if (response.status == 401 || response.status == 422) {
                        show_base_alert(-1, "Bạn cần đăng nhập để thực hiện chức năng này.");
                    }
                    else if (response.status == 403) {
                        show_base_alert(-1, "Tài khoản của bạn cần lên premium để thực hiện tính năng này.")
                    }
                    else {
                        console.error('Có lỗi xảy ra khi tải xuống tệp');
                    }
                })
    }

    function downloadDocument() {
        downloadDocPremium()
    }
    
    function reportDocument(document_id) {
        document.getElementById("form-report").style.visibility = "visible";
        document.getElementById("form-report-footer").innerHTML = `<input class="btn btn-primary col-3 rounded" name="submit" type="button" onclick="clickSendReport('${document_id}')" value="Gửi">`;

    }

    function clickCloseReport() {
        resetFormResport();
        document.getElementById("form-report").style.visibility = "hidden";
    }

    function resetFormResport() {
        document.getElementById("form-report-file").classList.remove('is-invalid');
        document.getElementById("input-file-report-error").innerHTML = "";
        document.getElementById("form-report-content").classList.remove('is-invalid');
        document.getElementById("input-content-report-error").innerHTML = "";
    }

    function validate_form_report() {
        var result = true;

        if (document.getElementById("form-report-content").value == "") {
            document.getElementById("form-report-content").classList.add('is-invalid');
            document.getElementById("input-content-report-error").innerHTML = "Nội dung báo cáo không được bỏ trống"
            result = false;
        }

        if (document.getElementById("form-report-file").files[0].size > 5242880) {
            document.getElementById("form-report-file").classList.add('is-invalid');
            document.getElementById("input-file-report-error").innerHTML = "Kích thước tài liệu không quá 5MB"
            result = false;
        }

        return result
    }

    async function clickSendReport(document_id) {
        var url = baseURL + "/document/" + document_id + "/report"

        if (validate_form_report() == true) {
            const data = new FormData();
            data.append("content", document.getElementById("form-report-content").value)
            data.append("file", document.getElementById("form-report-file").files[0]);

            try {
                const result = await postFormData(url, data, localStorage.token);
                if (result.code === 0) {
                    show_base_alert(0, "Đã gửi báo cáo. Xin hãy đợi chúng tôi xử lý");
                    clickCloseReport();
                }
                else {
                    show_base_alert(-1, result.message);
                }
            } catch (error) {
                console.log(error.message);
            }
        }
    }

    function shareOnFacebook() {
        var link = baseURL + `/document/` + document_id;
        const facebookIntentURL = "https://www.facebook.com/sharer/sharer.php";
        const contentQuery = `?u=${encodeURIComponent(link)}`;
        const shareURL = facebookIntentURL + contentQuery;
        window.open(shareURL, "_blank");
    }

    var urlCopy = baseURL + `/document/` + document_id;
    var clipboard = new ClipboardJS('.copylink', {
        text: function () {
            return urlCopy;
        }
    });

    clipboard.on('success', function (e) {
        show_base_alert(0, "Đã sao chép");
        e.clearSelection();
    });

    clipboard.on('error', function (e) {
        show_base_alert(-1, "Không thể sao chép đường dẫn");
    });

    async function getEvaluate(){
        var url = baseURL + "/document/" + document_id + "/evaluate";

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0) {
                for (var i = 0; i < result.data.length; ++i){
                    if(result.data[i]["type"] == "like"){
                        var documentLike = document.getElementById("doc_like");
                        documentLike.getElementsByTagName("i")[0].classList.remove("bi-hand-thumbs-up");
                        documentLike.getElementsByTagName("i")[0].classList.add("bi-hand-thumbs-up-fill");
                    }
                    else if(result.data[i]["type"] == "dislike"){
                        var documentDisLike = document.getElementById("doc_dislike");
                        documentDisLike.getElementsByTagName("i")[0].classList.remove("bi-hand-thumbs-down");
                        documentDisLike.getElementsByTagName("i")[0].classList.remove("bi-hand-thumbs-down-fill");
                    }
                    else if(result.data[i]["type"] == "save"){
                        var documentSave = document.getElementById("doc_save");
                        documentSave.getElementsByTagName("i")[0].classList.remove("bi-bookmark");
                        documentSave.getElementsByTagName("i")[0].classList.add("bi-bookmark-fill");
                    }
                }

            }
        } catch (error) {
            console.log(error.message);
        }
    }
</script>
{% endblock %}