<head>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"></script>
</head>

<body>
    <div id="pdf-container" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="10" style="width:1200px;height:600px;overflow-y:scroll; background-color: black;"></div>
    <button onclick="thaydoiScale()">Thay đổi Scale</button>
    <button class="navbar" onclick="up()">Up</button>
    <button onclick="down()">Down</button>
    <a class="list-group-item list-group-item-action" href="#thu2">Item 1</a>

    <script>
        let pdfTT = null;
        let currentScale = 2;
        let currentPage = 1;
        let pageNumber = 0;

        function thaydoiScale() {
            //currentScale += 0.5; // Increase scale by 0.5 each time the button is clicked

            if (pdfTT === null) {
                pdfTT = pdfjsLib.getDocument('thu.pdf');
            }

            pdfTT.promise.then((pdf) => {
                let pdf_container = document.getElementById("pdf-container");
                pdf_container.innerHTML = ""; // Reset content

                console.log("Hiện có " + pdf.numPages + " trang");
                pageNumber = pdf.numPages;

                for (let i = 1; i <= pdf.numPages; ++i) {
                    pdf.getPage(i).then(page => {
                        let pdfCanvas = document.createElement("canvas");

                        if (i < 2){
                            let context = pdfCanvas.getContext("2d");
                            let pageViewPort = page.getViewport({ scale: currentScale });
                            pdfCanvas.setAttribute("id", "thu" + i)
                            pdfCanvas.style.margin = "5px";
                            pdfCanvas.width = pageViewPort.width;
                            pdfCanvas.height = pageViewPort.height;
                            pdf_container.append(pdfCanvas);
                            page.render({
                                canvasContext: context,
                                viewport: pageViewPort
                            });
                        }
                        else{
                            pdfCanvas.style.backgroundColor = '#333'; // Màu nền xám đậm
                            let pageViewPort = page.getViewport({ scale: currentScale });
                            pdfCanvas.setAttribute("id", "thu" + i)
                            pdfCanvas.style.margin = "5px";
                            pdfCanvas.width = pageViewPort.width;
                            pdfCanvas.height = pageViewPort.height;
                            const ctx = pdfCanvas.getContext("2d");
                            ctx.font = "30px Arial";
                            ctx.fillText("Hello World", 10, 50);
                            pdf_container.append(pdfCanvas);
                        }
                    }).catch(pageErr => {
                        console.log(pageErr);
                    });
                }
            });
        }

        function up() {
            if (currentPage > 1) {
                currentPage -= 1;
            }
            location.href = "#thu" + currentPage;
        }

        function down() {
            if (currentPage < pageNumber) {
                currentPage += 1;
            }
            location.href = "#thu" + currentPage;
        }

    </script>
</body>