{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="/static/css/profile_user.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
    .loading{
        width: 2rem;
        height: 2rem;
        border: 5px solid #f3f3f3;
        border-top: 6px solid #0d6efd;
        border-radius: 100%;
        margin: auto;
        visibility: hidden;
        animation: spin 1s infinite linear;
    }
    .loading.display {
        visibility: visible;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; min-height: 50%; position:relative; top:70px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <div class="author-card pb-3">
                    <div class="author-card-cover"></div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar text-center bg-secondary">
                            <span id="base-profile-img" class="h4 text-white"></span>
                        </div>
                        <div class="author-card-details">
                            <h4 id="base-profile-name" class="author-card-name text-lg"></h4>
                            <span id="base-profile-email" class="author-card-position"></span>
                        </div>
                    </div>
                    <div class="ps-4" style="display: none;"><h6>Tài liệu: <span>0</span></h5></div>
                </div>
                <div class="wizard">
                    <nav class="list-group list-group-flush">
                        <a class="list-group-item" href="/user/tong-quan">
                            <i class="fe-icon-shopping-bag mr-1 text-muted"></i>Tổng quan
                        </a>
                        <a class="list-group-item" href="/user/thong-tin-ca-nhan">
                            <i class="bi bi-person-circle"></i>Thông tin cá nhân
                        </a>
                        <a class="list-group-item active" href="/user/quan-ly-tai-lieu">
                            <i class="bi bi-files"></i>Quản lý tài liệu
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-lg-8 pb-5 ps-5">
                <h3 id="label-document">Quản lý tài liệu</h3>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="document_all" href="/user/quan-ly-tai-lieu" class="nav-link">Tài liệu đã tải lên</a>
                    </li>
                    <li class="nav-item">
                        <a id="document_prcessing" href="/user/quan-ly-tai-lieu?type=wait" class="nav-link">Tài liệu chờ xử lý</a>
                    </li>
                    <li class="nav-item">
                        <a id="document_process_fail" href="/user/quan-ly-tai-lieu?type=fail" class="nav-link">Tài liệu xử lý thất bại</a>
                    </li>
                    <li class="nav-item">
                        <a id="document_saved" href="/user/quan-ly-tai-lieu?type=saved" class="nav-link">Tài liệu được lưu</a>
                    </li>
                </ul>
                <div id="loading" class="loading mt-3"></div>
                <div id="all-document">
                </div>
                <div id="number_page" class="d-flex justify-content-center mt-2">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form-confirm-delete" class="d-flex align-items-center justify-content-center" style="height:100vh; width:100vw; background-color:rgba(0, 0, 0, 0.2); visibility: hidden; position:fixed; top:0px; z-index: 999;">
    <div class="container d-flex justify-content-center" style="position: fixed;">   
    <div class="register bg-white col-xl-6 p-4 rounded-3">
      <div class="d-flex justify-content-end">
        <button id="close-form-login" type="button" class="btn-close text-right" onclick="clickCloseConfirmDelete()"></button>
      </div>
      <h3 class="text-center mb-3">Xác nhận xóa tài liệu</h3>
      <div id="content-form-confirm-delete" class="border-top border-secondary py-2">
      </div>
      <div id="form-confirm-delete-footer" class="text-end">
      </div>
    </div> 
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    window.onload = function()
    {
        if(localStorage.token){
            getUser();
            show_display();
        }
        else
            window.location.href = "/api/v1"
    };

    function show_display(){
        if (`{{type}}` === "all"){
            getDocumentUpload();
        }
        else if (`{{type}}` === "saved"){
            getDocumentSave();
        }
        else if(`{{type}}` === "wait"){
            getDocumentProcessing();
        }
        else if(`{{type}}` === "fail"){
            getDocumentProcessFail();
        }
    }
    
    function getDocumentUpload(){
        document.getElementById("document_all").classList.add("active");
        getAllDocumentByUser();
    }

    function getDocumentProcessing(){
        document.getElementById("document_prcessing").classList.add("active");
        getAllDocumentProcessing();
    }

    function getDocumentProcessFail(){
        document.getElementById("document_process_fail").classList.add("active");
        getAllDocumentProcessFail();
    }

    function getDocumentSave(result = null){
        if (result !== null){
            show_base_alert(0, "Hủy lưu thành công");
        }

        document.getElementById("document_saved").classList.add("active");
        getAllDocumentSaved();
    }

    async function getUser(){
        var url = baseURL + "/api/v1/user-token"

        var base_profile_img = document.getElementById("base-profile-img")
        var base_profile_name = document.getElementById("base-profile-name")
        var base_profile_email = document.getElementById("base-profile-email")

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                user.lg_fullname.innerHTML = result.data["fullname"];
                base_profile_name.innerHTML = result.data["fullname"];
                base_profile_email.innerHTML = result.data["email"]
                base_profile_img.innerHTML = result.data["fullname"][0];
                openLogin();
                userCurrentId = result.data["id"]
            }
            else{
                window.location.href = "/api/v1"
            }
        } catch (error) {
            window.location.href = "/api/v1"
        }
    }

    async function getAllDocumentByUser(page=null){
        var loader = document.querySelector('#loading');
        loader.classList.add("display");

        var url = baseURL + "/document/"

        if(page)
            url += "?page=" + page;

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                loader.classList.remove("display");
                loader.style.display = "none";

                var divDeXuat = document.getElementById("all-document")
                var html = "";
                for (var i = 0; i < result.data["items"].length; ++i){
                    html += createDocumentsOfAll(result.data["items"][i])
                }
                divDeXuat.innerHTML = html
                
                if (result.data["items"].length > 12){
                    var number_page = document.getElementById("number_page");
                    number_page.innerHTML = showPage(result.data["page"], result.data["has_next"], result.data["has_prev"]);
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocumentSaved(){
        var loader = document.querySelector('#loading');
        loader.classList.add("display");

        var url = baseURL + "/document/get_all_saved"

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                loader.classList.remove("display");
                loader.style.display = "none";

                var divDeXuat = document.getElementById("all-document")
                var html = "";
                for (var i = 0; i < result.data.length; ++i){
                    html += createDocumentsOfSave(result.data[i])
                }
                divDeXuat.innerHTML = html
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocumentProcessing(page=null){
        var loader = document.querySelector('#loading');
        loader.classList.add("display");

        var url = baseURL + "/document/processing"

        if(page)
            url += "?page=" + page;

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                loader.classList.remove("display");
                loader.style.display = "none";

                var div_documents = document.getElementById("all-document")
                var html = "";
                for (var i = 0; i < result.data["items"].length; ++i){
                    html += createDocumentsOfAll(result.data["items"][i])
                }
                div_documents.innerHTML = html

                if (result.data["items"].length > 12){
                    var number_page = document.getElementById("number_page");
                    number_page.innerHTML = showPage(result.data["page"], result.data["has_next"], result.data["has_prev"]);
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    async function getAllDocumentProcessFail(page=null){
        var loader = document.querySelector('#loading');
        loader.classList.add("display");

        var url = baseURL + "/document/process_fail"

        if(page)
            url += "?page=" + page;

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                loader.classList.remove("display");
                loader.style.display = "none";

                var div_documents = document.getElementById("all-document")
                var html = "";
                for (var i = 0; i < result.data["items"].length; ++i){
                    html += createDocumentsOfAll(result.data["items"][i])
                }
                div_documents.innerHTML = html

                if (result.data["items"].length > 12){
                    var number_page = document.getElementById("number_page");
                    number_page.innerHTML = showPage(result.data["page"], result.data["has_next"], result.data["has_prev"]);
                }
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function showPage(currency_page, has_next, has_prev){
        var html = `<nav aria-label="Page navigation example">
                    <ul class="pagination">`

        if (has_prev)
            html += `<li class="page-item" style="cursor: pointer;">`
        else
            html += `<li class="page-item disabled">`   
        
        html += `   <a class="page-link" onclick=clickPrev('${currency_page}') aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li class="page-item" style="cursor: pointer;"><a class="page-link" href="#">${currency_page}</a></li>`
        
        if (has_next)
            html += `<li class="page-item" style="cursor: pointer;">`
        else
            html += `<li class="page-item disabled">`   

        html +=     `<a class="page-link" onclick=clickNext('${currency_page}') aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>`

        return html;
    }

    function clickNext(currency_page){
        if(`{{type}}` === "wait")
            getAllDocumentProcessing(parseInt(currency_page) + 1);
        else if(`{{type}}` === "all")
            getAllDocumentByUser(parseInt(currency_page) + 1);
        else if(`{{type}}` === "fail")
            getAllDocumentProcessFail(parseInt(currency_page) + 1);
    }

    function clickPrev(currency_page){
        if(`{{type}}` === "wait")
            getAllDocumentProcessing(parseInt(currency_page) - 1);
        else if(`{{type}}` === "all")
            getAllDocumentByUser(parseInt(currency_page) - 1);
        else if(`{{type}}` === "fail")
            getAllDocumentProcessFail(parseInt(currency_page) - 1);
    }

    function createDocumentsOfAll(document){
        html = `<div id="document-${document["id"]}" class="row mt-3 mb-3 p-3 border rounded" style="background-color: white; cursor: default">
                    <div class="col-2 pe-0">`

                        if (document["image"] != null && document["image"] !== "/static/images/")
                            html += `<img src="${document["image"]}"
                                alt="Generic placeholder image" class="img-fluid p-0"
                                style="width: 100px; height: 120px; border-radius: 10px;">`
                        else
                            html += `<img src="/static/images/default_book.png"
                                    alt="Generic placeholder image" class="img-fluid p-0"
                                    style="width: 100px; height: 120px; border-radius: 10px;">`
        html += `   </div>  
                    <div class="col-6 ps-0">
                        <h4 class="m-0" onclick="openDocumentDetail(${document["id"]})" style="cursor:pointer">${getOnlyFileName(document["document_name"])}</h4>`

        html += `       <div class="p-0 mb-1 bd-highlight">
                            <i class="bi bi-hand-thumbs-up me-1"></i><span class="me-3"> ${calculateLikePercentage(document["evaluate"])}%</span>
                            <i class="bi bi-eye me-1"></i><span> ${document["view_count"]}</span>
                        </div>
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div onclick="clickDelete('${document["document_name"]}', '${document["id"]}', '${convertDateTimeToGMT7(document["creation_date"])}')" style="cursor: pointer">
                                <i class="bi bi-trash"></i><span class="me-4"> Xóa</span>
                            </div>
                            <div onclick="clickUpdate(${document["id"]})" style="cursor: pointer">
                                <i class="bi bi-pen-fill me-1"></i><span> Sửa</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ps-0">
                        <p class="text-end">Ngày tải lên: ${convertDateTimeToGMT7(document["creation_date"])}</p>
                    </div>
                </div>`

        return html;
    }

    function openDocumentDetail(id) {
        window.location.replace(baseURL + "/document/" + id)
    }

    function createDocumentsOfSave(document){
        html = `<div id="document-${document["id"]}" class="row mt-3 mb-3 p-3 border rounded" style="background-color: white; cursor: default">
                    <div class="col-2 pe-0">`
                        if (document["image"] != null && document["image"] !== "/static/images/")
                            html += `<img src="${document["image"]}"
                                alt="Generic placeholder image" class="img-fluid p-0"
                                style="width: 100px; height: 120px; border-radius: 10px;">`
                        else
                            html += `<img src="/static/images/default_book.png"
                                    alt="Generic placeholder image" class="img-fluid p-0"
                                    style="width: 100px; height: 120px; border-radius: 10px;">`
        html += `   </div>  
                    <div class="col-10 ps-0">
                        <h4 class="m-0" onclick="openDocumentDetail(${document["id"]})" style="cursor:pointer">${getOnlyFileName(document["document_name"])}</h4>`

        html += `       <div class="p-0 mb-1 bd-highlight">
                            <i class="bi bi-hand-thumbs-up me-1"></i><span class="me-3"> ${calculateLikePercentage(document["evaluate"])}%</span>
                            <i class="bi bi-eye me-1"></i><span> ${document["view_count"]}</span>
                        </div>
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <div onclick="clickCancelSave(${document["id"]})" style="cursor: pointer">
                                <i class="bi bi-x"></i><span> Hủy lưu</span>
                            </div>
                        </div>
                    </div>
                </div>`

        return html;
    }

    function getOnlyFileName(fileName){
        return fileName.split('.').slice(0, -1).join('.')
    }

    function convertDateTimeToGMT7(datetime){
        date = new Date(datetime)

        const formattedDate = date.toLocaleDateString('en-GB', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
        });

        const formattedTime = date.toLocaleTimeString('en-GB', {
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        });

        return `${formattedDate} ${formattedTime}`;
    }

    function calculateLikePercentage(evaluate){
        var sum = 0;
        var like = 0;

        evaluate.forEach(data => {
            if(data["type"] === "like"){
                sum += 1;
                like += 1;
            }
            else if(data["type"] === "dislike"){
                sum += 1;
            }
        });

        if(sum == 0)
            return 0;

        var result = like / sum * 100
        if (isFloat(result))
            return result.toFixed(2)

        return result;
    }

    function isFloat(n){
        return Number(n) === n && n % 1 !== 0;
    }

    async function clickUpdate(id){
        var url = baseURL + "/document/" + id + "/show"

        try {
            const result = await getData(url);
            if (result.code === 0){
                document.getElementById("label-document").innerHTML = "Chỉnh sửa thông tin tài liệu"
                var divDeXuat = document.getElementById("all-document")
                divDeXuat.innerHTML = appendDocument(result.data["id"], result.data["document_name"], result.data["image"], result.data["categories"], 
                                    result.data["description"], result.data["license"])
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function appendDocument(document_id, document_name, image, categories, description, license) {
        var html = `
            <div class="app__file__content">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div>
                                        <div class="mb-4 d-flex justify-content-center">`
                                        if (image != null && image !== "/static/images/")                                
                                            html+=`<img id="selectedImage" src="${image}" alt="example placeholder" style="width: 180px; height: 180px" />`
                                        else
                                            html+=`<img id="selectedImage" src="/static/images/default_book.png" alt="example placeholder" style="width: 180px; height: 180px" />`
        html+=                         `</div>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn btn-primary btn-rounded">
                                                <label class="form-label text-white m-1" for="customFile">Chọn ảnh</label>
                                                <input type="file" class="form-control d-none" id="customFile" onchange="displaySelectedImage(event, 'selectedImage')" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Tên tài liệu <strong style="color: red">*</strong></h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input id="name-doc" type="text" class="form-control" value="${document_name}" disabled="">
                                            <div id="name-doc-error" class="invalid-feedback mb-1"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Danh mục <strong style="color: red">*</strong></h6>
                                        </div>
                                        <div id="root-select" class="col-sm-9 text-secondary">
                                            <select id="danhmuc" class="form-select" aria-label="Default select example" onchange="changeDanhMuc('${document_id}')">
                                                <option selected>--Danh mục--</option>
                                            </select>
                                            <select id="danhmuc2" class="form-select mt-2" aria-label="Default select example">
                                                <option selected>--Danh mục--</option>
                                            </select>
                                            <div id="danhmuc-error" class="invalid-feedback mb-1"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Mô tả <strong style="color: red">*</strong></h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <textarea id="mota" type="text" class="form-control" value="">${description}</textarea>
                                            <div id="mota-error" class="invalid-feedback mb-1"></div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Giấy phép <strong style="color: red">*</strong></h6>
                                        </div>
                                        <div class="col-sm-9">`
                                if (license == "all_license")    
                                    html += `<div class="text-start">
                                                <input type="radio" id="all-license" onclick="clickAllLicense()" checked>
                                                <label class="form-check-label" for="all-license">
                                                    Tất cả quyền được bảo lưu
                                                </label>
                                            </div>
                                            <div class="text-start">
                                                <select id="license-cc" class="form-select update-license" aria-label="Default select example" onchange="changeLicense()">
                                                    <option value="null" selected>Lựa chọn theo giấy phép CC</option>
                                                    <option value="CC BY">CC BY</option>
                                                    <option value="CC BY-sa">CC BY-SA</option>
                                                    <option value="CC BY-ND">CC BY-ND</option>
                                                    <option value="CC BY-NC">CC BY-NC</option>
                                                    <option value="CC BY-NC-SA">CC BY-NC-SA</option>
                                                    <option value="CC BY-NC-ND">CC BY-NC-ND</option>
                                                </select>
                                            </div>`
                                else{
                                    html += `<div class="text-start">
                                                <input type="radio" id="all-license" onclick="clickAllLicense()">
                                                <label class="form-check-label" for="all-license">
                                                    Tất cả quyền được bảo lưu
                                                </label>
                                            </div>
                                            <div class="text-start">
                                                <select id="license-cc" class="form-select update-license" aria-label="Default select example">
                                                    <option value="null">Lựa chọn theo giấy phép CC</option>
                                                    <option value="CC BY" `
                                                        if (license == "CC BY")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY</option>
                                                    <option value="CC BY-SA" `
                                                        if (license == "CC BY-SA")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY-SA</option>
                                                    <option value="CC BY-ND" `
                                                        if (license == "CC BY-ND")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY-ND</option>
                                                    <option value="CC BY-NC" `
                                                        if (license == "CC BY-NC")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY-NC</option>
                                                    <option value="CC BY-NC-SA" `
                                                        if (license == "CC BY-NC-SA")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY-NC-SA</option>
                                                    <option value="CC BY-NC-ND" `
                                                        if (license == "CC BY-NC-ND")
                                                            html += `selected>`
                                                        else
                                                            html += `>`
                                                        html += `CC BY-NC-ND</option>
                                                </select>
                                            </div>`
                                }                                        
                                html += `   <div id="update-license-error" class="invalid-feedback mb-1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-secondary text-end">
                                            <input id="save" type="button" class="btn px-4" value="Quay lại" onclick="clickReturn()">
                                            <input id="save" type="button" class="btn btn-primary px-4" value="Lưu thay đổi" onclick="saveDocument('${document_id}')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `;

        for (let i = 0; i <= 1; i++) {
            if(categories[i]["parent_id"] == null)
                getDanhMuc(`danhmuc`, null, categories[i]["id"])
            else
                getDanhMuc(`danhmuc2`, categories[i]["parent_id"], categories[i]["id"])
        }
        
        var number_page = document.getElementById("number_page");
        number_page.style.visibility = "hidden";
        
        return html;
    }

    function changeMoney(){
        var value = document.getElementById(`giaban`).value;
        var ipnOptionSelect = document.getElementById(`option-money`)
        if(value === "option"){
            ipnOptionSelect.style.display = 'block';
        }
        else{
            ipnOptionSelect.style.display = 'none';
        }
    }

    var imageFile = null;

    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
            imageFile = fileInput.files[0];
        }
    }

    async function getDanhMuc(danhMucId, parentId = null, existedDanhMuc=null){
        url = baseURL + "/categories/"
        if(parentId){
            url += "?parentId=" + parentId
        }

        try {
            const result = await getData(url);
            if (result.code === -1){
                show_base_alert(-1, "Có lỗi xảy ra không thể thực hiện cập nhật tài liệu.");    
            }
            else{
                addOptions(result.data, danhMucId, existedDanhMuc)
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function changeDanhMuc(){
        danhmuc = document.getElementById(`danhmuc`)
        danhmuc2 = document.getElementById(`danhmuc2`)

        parentId = danhmuc.options[danhmuc.selectedIndex].dataset.optionId;
        getDanhMuc(`danhmuc2`, parentId)
        document.getElementById(`danhmuc2`).style.display = 'block'
    }

    function addOptions(categories, danhMucId, existedDanhMuc){
        var x = document.getElementById(`${danhMucId}`);
        html = "";

        html += `<option selected>--Danh mục--</option>`

        if(categories.length <= 0)
            x.style.display = 'none'

        categories.forEach(categorie => {
            if (categorie.id === existedDanhMuc)
                html += `<option selected value='${categorie.name}' data-option-id='${categorie.id}'>${categorie.name}</option>`
            else
                html += `<option value='${categorie.name}' data-option-id='${categorie.id}'>${categorie.name}</option>`
        }); 

        x.innerHTML = html;
    }

    let fields_update = () => {
        return {
            description:{
                input: document.getElementById(`mota`),
                error: document.getElementById(`mota-error`),
            },
            categories: {
                input: document.getElementById(`danhmuc`),
                error: document.getElementById(`danhmuc-error`),
            },
            license: {
                input: document.getElementsByClassName("update-license"),
                error: document.getElementById(`update-license-error`),
            }
        };
    };

    async function saveDocument(document_id){
        var url = baseURL + '/document/update_document'

        resetErrorInputOfFormUpdate();

        const formData = new FormData();
        formData.append('document_id', document_id);
        formData.append('description', document.getElementById(`mota`).value);
        formData.append('license', document.getElementById(`license-cc`).value);

        var arr = {'categories': [document.getElementById(`danhmuc`).value, document.getElementById(`danhmuc2`).value]};
        formData.append('categories', JSON.stringify(arr));

        if(imageFile !== null)
            formData.append('image', imageFile);

        try {
            const result = await postFormData(url, formData, localStorage.token);
            if (result.code === -2){
                const errors = result.data;
                Object.keys(errors).forEach((key) => {
                    if (key != "license"){
                        fields_update()[key]['input'].classList.add('is-invalid');
                        fields_update()[key]['error'].innerHTML = errors[key][0];
                    }
                    else {
                        fields_update()[key]['input'].forEach((input) => {
                            input.classList.add('is-invalid');
                        });
                        fields_update()[key]['error'].innerHTML = errors[key][0];
                    }
                });
            }
            else if (result.code === -1){
                show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");    
            }
            else if(result.code === 0){
                show_base_alert(0, "Cập nhật tài liệu thành công");
            }
            else{
                show_base_alert(-1, result.message);
                window.location.replace(baseURL + "/api/v1");
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function resetErrorInputOfFormUpdate(){
        fields = fields_update();

        for(let key in fields){
            fields[key]['input'].classList.remove('is-invalid');
        }
    }

    function clickDelete(document_name, document_id, datetime_create){
        var form_confirm_delete = document.getElementById('form-confirm-delete');
        form_confirm_delete.style.visibility = 'visible';

        var content = document.getElementById("content-form-confirm-delete");
        content.innerHTML = `<h5> Bạn đang tiến hành xóa tài liệu </h5>
                            <h4 style="color: rgb(2, 126, 176);"> ${document_name}</h4>
                            <p>Ngày tạo tài liệu: <span class="fw-bold"> ${ datetime_create } </span></p>`

        var footer = document.getElementById("form-confirm-delete-footer");
        footer.innerHTML = `<input class="btn btn-secondary my-3 rounded" name="submit" type="button" onclick="clickCancelDelete()" value="Hủy">
                            <input class="btn btn-primary my-3 rounded" name="submit" type="button" onclick="clickConfirmDelete(${document_id})" value="Xác nhận">`;
    }

    async function clickConfirmDelete(document_id){
        var url = baseURL + "/document/" + document_id + "/delete";

        try {
            const result = await deleteData(url, localStorage.token);
            if (result.code === 0){
                clickCloseConfirmDelete();
                document.getElementById("document-" + result.data["id"]).style.display = "none";
                show_base_alert(0, "Xóa tài liệu thành công");
            }
            else
                show_base_alert(-1, result.message);
        } catch (error) {
            console.log(error.message);
        }
    }

    async function clickCancelSave(document_id){
        var url = baseURL + `/document/${document_id}/evaluate?type=save`;

        try {
            const result = await postData(url, localStorage.token);
            if (result.code === -1){
                show_base_alert(-1, result.message);
            }
            else{
                getDocumentSave(true);
            }
        } catch (error) {
            show_base_alert(-1, "Có lỗi xảy ra vui lòng thử lại sau");
            console.log(error.message);
        }
    }

    function clickCancelDelete(){
        var form_confirm_delete = document.getElementById('form-confirm-delete');
        form_confirm_delete.style.visibility = 'hidden';
    }

    function clickCloseConfirmDelete(){
        var form_confirm_delete = document.getElementById('form-confirm-delete');
        form_confirm_delete.style.visibility = 'hidden';
    }

    function clickReturn(){
        window.location.href = "/user/quan-ly-tai-lieu";
    }
</script>
{% endblock %}