{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="/static/css/profile_user.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
</style>
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; position:relative; top:70px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div class="author-card-cover"></div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar text-center bg-secondary">
                            <span id="base-profile-img" class="h4 text-white"></span>
                        </div>
                        <div class="author-card-details">
                            <h4 id="base-profile-name" class="author-card-name text-lg"></h4>
                            <span id="base-profile-email" class="author-card-position"></span>
                        </div>
                    </div>
                    <div class="ps-4" style="display: none;"><h6>Tài liệu: <span>0</span></h5></div>
                </div>
                <div class="wizard">
                    <nav class="list-group list-group-flush">
                        <a class="list-group-item" href="/user/tong-quan">
                            <i class="fe-icon-shopping-bag mr-1 text-muted"></i>Tổng quan
                        </a>
                        <a class="list-group-item" href="/user/thong-tin-ca-nhan">
                            <i class="bi bi-person-circle"></i>Thông tin cá nhân
                        </a>
                        <a class="list-group-item" href="/user/quan-ly-tai-lieu">
                            <i class="bi bi-files"></i>Quản lý tài liệu
                        </a>
                        <a class="list-group-item active" href="/user/quan-ly-tai-chinh">
                            <i class="bi bi-currency-dollar"></i>Quản lý tài chính
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-lg-8 pb-5 ps-4">
                <h3 id="label-document">Quản lý tài chính</h3>
                <div class="row ms-0 me-0">
                    <div class="pe-3 ps-0 col-lg-5">
                        <div class="pt-3 p-3 rounded" style="background-color: white;">
                            <h5 class="mb-3">Thông tin số dư tài khoản</h5>
                            <p class="mb-1" style="color: #999; font-weight: 700; font-size: .75rem;">SỐ DƯ TÀI KHOẢN</p>
                            <p id="money-manager-financy" class="mb-1" style="color: rgb(2, 126, 176); font-size: 1.5rem;"></p>
                            <p class="mb-1 mt-2" style="color: #999; font-weight: 700; font-size: .75rem;">TỔNG SỐ TIỀN ĐÃ NẠP</p>
                            <p id="total-deposits" class="mb-1" style="color: rgb(2, 126, 176); font-size: 1.5rem;"></p>
                            <p class="mb-1 mt-2" style="color: #999; font-weight: 700; font-size: .75rem;">TỔNG SỐ TIỀN KIẾM ĐƯỢC TỪ TÀI LIỆU</p>
                            <p id="total-revenue" class="mb-1" style="color: rgb(2, 126, 176); font-size: 1.5rem;"></p>
                        </div>
                    </div>
                    <div class="pe-0 ps-0 col-lg-7">
                        <div class="pt-3 p-3 rounded" style="background-color: white;">
                            <h5>Thống kê doanh thu</h5>
                            <div class="d-flex flex-row bd-highlight mb-3 justify-content-end">
                                <div class="pe-1 bd-highlight">
                                    <input id="input_year_stat" class="date-own form-control" style="width: 100px;" type="text" placeholder="Nhập năm">
                                </div>
                                <div class="bd-highlight">
                                    <button type="button" class="btn btn-secondary" onclick="clickStats()">Thống kê</button>
                                </div>
                            </div>  
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="mt-3 p-3 rounded" style="background-color: white;">
                    <h5>Lịch sử hoạt động số dư</h5>
                    <div class="table-responsive">
                        <table id="table-view-transaction" class="table table-hover table-striped table-bordered">  
                        </table>
                    </div>

                    <div id="number_page" class="d-flex justify-content-center mt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload = function()
    {
        if(localStorage.token){
            getUser();
            getStats();
            getTransaction();
            getTotal();
        }
        else
            window.location.href = "/api/v1"
    };

    async function getUser(){
        var url = baseURL + "/api/v1/user-token"

        var base_profile_img = document.getElementById("base-profile-img")
        var base_profile_name = document.getElementById("base-profile-name")
        var base_profile_email = document.getElementById("base-profile-email")

        var money_manager_financy = document.getElementById("money-manager-financy")

        var base_img = document.getElementById("base-img")

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                user.lg_fullname.innerHTML = result.data["fullname"];
                user.email.innerHTML = result.data["email"];
                user.ls_fullname.innerHTML = result.data["fullname"];
                user.coin.innerHTML = result.data["coin"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                user.base_coin.innerHTML = result.data["coin"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                base_img.innerHTML = result.data["fullname"][0];

                base_profile_name.innerHTML = result.data["fullname"];
                base_profile_email.innerHTML = result.data["email"]
                base_profile_img.innerHTML = result.data["fullname"][0];

                money_manager_financy.innerHTML = result.data["coin"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                openLogin();
                userCurrentId = result.data["id"]
            }
            else{
                window.location.href = "/api/v1";
            }
        } catch (error) {
            show_base_alert(-1, error.message);
            window.location.href = "/api/v1";
        }
    }

    async function getTransaction(page=null){
        var url = baseURL + "/user/transactions";

        if(page)
            url += "?page=" + page;

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                var table_view_transaction = document.getElementById("table-view-transaction");
                html = showTransactions(result.data["items"]);
                table_view_transaction.innerHTML = html;

                var number_page = document.getElementById("number_page");
                number_page.innerHTML = showPage(result.data["page"], result.data["has_next"], result.data["has_prev"]);
            }
            else{
                show_base_alert(-1, result.message);
            }
        } catch (error) {
            show_base_alert(-1, error.message);
        }
    }

    async function getTotal(){
        var url = baseURL + "/user/total";

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                document.getElementById("total-revenue").innerHTML = parseInt(result.data["total_revenue"]).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                document.getElementById("total-deposits").innerHTML = parseInt(result.data["total_deposits"]).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            }
            else{
                show_base_alert(-1, result.message);
            }
        } catch (error) {
            show_base_alert(-1, error.message);
        }
    }

    function showTransactions(transactions){
        var html = `<tr>
                    <th class="col-2" scope="col">MÃ GIAO DỊCH</th>
                    <th scope="col">LOẠI GIAO DỊCH</th>
                    <th class="col-3" scope="col">NỘI DUNG</th>
                    <th scope="col">TRẠNG THÁI</th>
                    <th scope="col">SỐ TIỀN</th>
                    <th scope="col">SỐ DƯ TÀI KHOẢN</th>
                </tr>`

        for(let i = 0; i < transactions.length; ++i){
            html += `<tr>
                        <td>
                            <p class="mb-0">EduShare-${transactions[i]["id"]}</p>
                            <p>${convertDateTimeToGMT7(transactions[i]["date"])}</p>
                        </td>
                        <td>${transactions[i]["type"]}</td>
                        <td>${transactions[i]["information"]}</td>`

            if(transactions[i]["result"] == 0)
                html += `<td>Thành công</td>`
            else
                html += `<td>Thất bại</td>`
                        
            html += `    <td class="text-nowrap">`
            
            if (transactions[i]["type"] == "Mua tài liệu"){
                html += `<span class="text-danger">
                            <i class="bi bi-caret-down-fill"></i><span>`
            }
            else{
                html += `<span class="text-success">`
                
                if(transactions[i]["result"] == 0)
                    html += `<i class="bi bi-caret-up-fill"></i><span>`
            }

            if(transactions[i]["result"] == 0)
                html += `       ${transactions[i]["amount"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</span>   `
            else
                html += `  -   `
                html +=    `</span> 
                        </td>`
            html += `    <td>${transactions[i]["wallet_balance"].toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</td>
                    </tr>`
        }

        return html;
    }

    function showPage(currency_page, has_next, has_prev){
        var html = `<nav aria-label="Page navigation example">
                    <ul class="pagination">`

        if (has_prev)
            html += `<li class="page-item" style="cursor: pointer;">`
        else
            html += `<li class="page-item disabled">`   
        
        html += `   <a class="page-link" onclick=clickPrev('${currency_page}') aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li class="page-item" style="cursor: pointer;"><a class="page-link" href="#">${currency_page}</a></li>`
        
        if (has_next)
            html += `<li class="page-item" style="cursor: pointer;">`
        else
            html += `<li class="page-item disabled">`   

        html +=     `<a class="page-link" onclick=clickNext('${currency_page}') aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>`

        return html;
    }

    function convertDateTimeToGMT7(datetime){
        date = new Date(datetime)

        const formattedDate = date.toLocaleDateString('en-GB', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
        });

        const formattedTime = date.toLocaleTimeString('en-GB', {
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        });

        return `${formattedDate} ${formattedTime}`;
    }

    function clickNext(currency_page){
        getTransaction(parseInt(currency_page) + 1);
    }

    function clickPrev(currency_page){
        getTransaction(parseInt(currency_page) - 1);
    }

    async function getStats(year=null){
        var url = baseURL + "/user/stats";

        if(year)
            url += "?year=" + year;

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                let labels = [];
                let datas = [];

                for(let i = 0; i < result.data.length; ++i){
                    labels.push("Tháng " + result.data[i]["month"]);
                    datas.push(result.data[i]["sum"]);
                }

                loadChart('line', labels, 'Thống kê doanh thu', datas);
            }
            else{
                show_base_alert(-1, result.message);
            }
        } catch (error) {
            show_base_alert(-1, error.message);
        }
    }

    function loadChart(type, labels, label_datasets, data_datasets){
        let chartStatus = Chart.getChart("myChart");
        if (chartStatus != undefined) {
            chartStatus.destroy();
        }

        const chart = new Chart(document.getElementById('myChart'), {
                        type: type,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: label_datasets,
                                data: data_datasets,
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
    }

    function clickStats(){
        var input_year_stat = document.getElementById('input_year_stat').value;
        getStats(input_year_stat);
    }
</script>
{% endblock %}