{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="/static/css/profile_user.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
    .tab-block {
    position: relative;
    }

    .tab-block .tab-content {
    position: relative;
    z-index: 10;
    min-height: 125px;
    padding: 16px 12px;
    border: 1px solid #e2e2e2;
    background-color: #FFF;
    }

    .tab-block .nav-tabs {
    position: relative;
    border: 0;
    }

    .tab-block .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    }

    .tab-block .nav-tabs > li > a {
    z-index: 9;
    position: relative;
    color: #AAA;
    font-weight: 400;
    padding: 10px 20px 14px 20px;
    margin-right: -1px;
    border-color: #e2e2e2;
    border-radius: 0;
    background: #fafafa;
    }
    .tab-block .nav-tabs > li:first-child > a {
    margin-left: 0;
    }

    .tab-block .nav-tabs > li > a:hover {
    background-color: #f4f4f4;
    }

    .tab-block .nav-tabs > li.active > a,
    .tab-block .nav-tabs > li.active > a:hover,
    .tab-block .nav-tabs > li.active > a:focus {
    cursor: default;
    position: relative;
    z-index: 12;
    color: #555555;
    background: #FFF;
    border-color: #e2e2e2;
    border-bottom: 1px solid #FFF;
    }
</style>
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; min-height: 50%; position:relative; top:70px;">
    <section id="content" class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="author-card pb-3">
                    <div class="author-card-cover"></div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar text-center bg-secondary">
                            <span id="base-profile-img" class="h4 text-white">H</span>
                        </div>
                        <div class="author-card-details">
                            <h4 id="base-profile-name" class="author-card-name text-lg">{{ user[1] }}</h4>
                            <span id="base-profile-email" class="author-card-position">{{ user[2] }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 mt-3">
                    <input id="view-search" class="form-control me-5 rounded-pill" style="border: 2px solid #ced4da;" type="text" placeholder="Tìm kiếm tài liệu của {{ user[1] }}">
                </div>
            </div>
            <div class="col-md-8 mt-2 mb-3">
              <div class="tab-block">
                <ul class="nav nav-tabs">
                    <li id="view-all">
                    <a href="{{ url_for('user.get_view_user', account_id=account_id, type='all') }}" data-toggle="tab">Tất cả</a>
                    </li>
                    <li id="view-pay-fees"> 
                    <a href="{{ url_for('user.get_view_user', account_id=account_id, type='pay_fees') }}" data-toggle="tab">Mất phí</a>
                    </li>
                    <li id="view-free"> 
                    <a href="{{ url_for('user.get_view_user', account_id=account_id, type='free') }}" data-toggle="tab">Miễn phí</a>
                    </li>
                </ul>
                <div class="tab-content p30 mt-2">
                    <p class="text-right mt-3">
                        {{ documents.first }} - {{ documents.last }} trong {{documents.total}} kết quả
                    </p>
                    {% for document in documents.items %}
                        <div id="document-view-{{ document.id }}" class="row m-3 mb-3 p-3 border rounded" style="background-color: white; cursor: pointer;" onclick="turnToDocumentDetail('{{document.id}}')">
                            <div class="col-2 p-0">
                                {% if (document["image"] != null and document["image"] != "/static/images/") %}
                                    <img src="{{ document.image }}"
                                                alt="Generic placeholder image" class="img-fluid p-0"
                                                style="width: 100px; height: 120px; border-radius: 10px;">
                                {% else %}
                                    <img src="/static/images/default_book.png"
                                    alt="Generic placeholder image" class="img-fluid p-0"
                                    style="width: 100px; height: 120px; border-radius: 10px;">
                                {% endif %}
                            </div>  
                            <div class="col-6 ps-0">
                                <h4 class="m-0">{{ document.document_name | get_only_document_name }}</h4>
                                {% if document.price > 0 %}
                                    <p class="mb-2" style="color: rgb(2, 126, 176);">Mất phí</p>
                                {% else %}
                                    <p class="mb-2" style="color: rgb(2, 126, 176);">Miễn phí</p>
                                {% endif %}
                                <p class="m-0"><a style="color: #0d6efd; cursor: pointer;">{{ document.categories[0].name }} </a> >> <a style="color: #0d6efd; cursor: pointer;">{{ document.categories[1].name }}</a></p>
                                <div class="p-0 mb-1 bd-highlight">
                                    <i class="bi bi-hand-thumbs-up me-1"></i><span class="me-3"> {{ document.evaluate | count_evaluate }}%</span>
                                    <i class="bi bi-eye me-1"></i><span class="me-3"> {{ document.view_count }}</span>
                                    <i class="bi bi-download"></i><span> {{ document.download_count }}</span>
                                </div>
                            </div>
                            <div class="col-4 ps-0">
                                <p class="text-end">Ngày tải lên: {{ document.creation_date | format_datetime }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="text-right text-center mt-2">
                        <a href="{{ url_for('user.get_view_user', account_id=account_id, page=documents.prev_num) }}"
                           class="btn btn-outline-dark {% if documents.page == 1 %}disabled{% endif %}">
                            &laquo;
                        </a>
                        {% for page_num in documents.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                                {% if documents.page == page_num %}
                                    <a href="{{ url_for('user.get_view_user', account_id=account_id, page=page_num) }}"
                                    class="btn btn-dark">
                                        {{ page_num }}
                                    </a>
                                    {% else %}
                                    <a href="{{ url_for('user.get_view_user', account_id=account_id, page=page_num) }}"
                                    class="btn btn-outline-dark">
                                        {{ page_num }}
                                    </a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
            
                        <a href=" {{ url_for('user.get_view_user', account_id=account_id, page=documents.next_num) }}"
                            class="btn btn-outline-dark 
                            {% if documents.page == documents.pages %}disabled{% endif %}">
                                &raquo;
                        </a>
                    </div>
                </div>
              </div>

            </div>
          </div>
      </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    window.onload = function()
    {
        if(localStorage.token)
            getUser();
        else
            closeLogin();

        show_display_nav();
    };

    function show_display_nav(){
        if (`{{type}}` === "all"){
            document.getElementById("view-all").classList.add("active");
        }
        else if (`{{type}}` === "free"){
            document.getElementById("view-free").classList.add("active");
        }
        else if (`{{type}}` === "pay_fees"){
            document.getElementById("view-pay-fees").classList.add("active");
        }
    }

    const view_search = document.getElementById('view-search');
    view_search.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            window.location.href = `/user/search/{{account_id}}-trang-ca-nhan?keyword=` + `${view_search.value}`
        }
    });

    function turnToDocumentDetail(document_id){
        window.location.href = "/document/"  + document_id; 
    }
</script>
{% endblock %}