{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="/static/css/profile_user.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block app_content %}
<div class="justify-content-center" style="width:100vw; position:relative; top:70px;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div class="author-card-cover"></div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar text-center bg-secondary">
                            <span id="base-profile-img" class="h4 text-white">H</span>
                        </div>
                        <div class="author-card-details">
                            <h4 id="base-profile-name" class="author-card-name text-lg"></h4>
                            <span id="base-profile-email" class="author-card-position"></span>
                        </div>
                        <div id="icon-premium" class="ps-4" style="position: absolute; bottom: 10px; left: 50px; visibility: hidden;">
                            <img src="/static/images/premium.png" style="height: 30px; width: 28px" />
                        </div>
                    </div>
                    <div class="ps-4" id="account-premium-time">
                    </div>
                </div>
                <div class="wizard">
                    <nav class="list-group list-group-flush">
                        <a class="list-group-item" href="/user/tong-quan">
                            <i class="fe-icon-shopping-bag mr-1 text-muted"></i>Tổng quan
                        </a>
                        <a class="list-group-item active" href="/user/thong-tin-ca-nhan">
                            <i class="bi bi-person-circle"></i>Thông tin cá nhân
                        </a>
                        <a class="list-group-item" href="/user/quan-ly-tai-lieu">
                            <i class="bi bi-files"></i>Quản lý tài liệu
                        </a>
                    </nav>
                </div>
            </div>
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
                <form class="row">
                    <div><h3>Thông tin cá nhân</h3></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Họ và tên</label>
                            <input class="form-control" type="text" id="account-name" required="">
                            <div id="account-name-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Địa chỉ</label>
                            <input class="form-control" type="text" id="account-address" required="">
                            <div id="account-address-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="account-email">Email</label>
                            <input class="form-control" type="email" id="account-email" disabled="">
                            <div id="account-email-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="account-phone">Số điện thoại</label>
                            <input class="form-control" type="text" id="account-phone" disabled="">
                            <div id="account-phone-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="account-phone">Căn cước công dân</label>
                            <input class="form-control" type="text" id="account-cccd" disabled="">
                            <div id="account-cccd-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3 mt-3">
                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                            <button class="btn btn-style-1 btn-primary btn px-4 fw-bold" type="button" style="background-color: rgb(2, 126, 176)" onclick="cickSaveAccount()">Lưu</button>
                        </div>
                    </div>
                </form>

                <form class="row">
                    <div><h3>Đổi mật khẩu</h3></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Mật khẩu cũ</label>
                            <input class="form-control" type="password" id="account-old-pass" required="">
                            <div id="account-old-pass-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="account-ln">Mật khẩu mới</label>
                            <input class="form-control" type="password" id="account-new-pass" required="">
                            <div id="account-new-pass-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="account-email">Xác thực mật khẩu mới</label>
                            <input class="form-control" type="password" id="account-re-new-pass" required="">
                            <div id="account-re-new-pass-error" class="invalid-feedback mb-1"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3 mt-3">
                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                            <button class="btn btn-style-1 btn-primary btn px-4 fw-bold" type="button" style="background-color: rgb(2, 126, 176)" onclick="clickSavePassword()">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    window.onload = function()
    {
        if(localStorage.token)
            getUser();
        else
            window.location.href = "/api/v1"
    };

    const fields_account = {
        fullname: {
            input: document.getElementById("account-name"),
            error: document.getElementById("account-name-error"),
        },
        address:{
            input: document.getElementById("account-address"),
            error: document.getElementById("account-address-error"),
        },
        number: {
            input: document.getElementById("account-phone"),
            error: document.getElementById("account-phone-error"),
        },
        email: {
            input: document.getElementById("account-email"),
            error: document.getElementById("account-email-error"),
        },
        cccd: {
            input: document.getElementById("account-cccd"),
            error: document.getElementById("account-cccd-error"),
        }
    };

    const fields_password = {
        oldpassword: {
            input: document.getElementById("account-old-pass"),
            error: document.getElementById("account-old-pass-error"),
        },
        password: {
            input: document.getElementById("account-new-pass"),
            error: document.getElementById("account-new-pass-error"),
        },
        repassword: {
            input: document.getElementById("account-re-new-pass"),
            error: document.getElementById("account-re-new-pass-error"),
        }
    };

    async function getUser(){
        url = baseURL + "/api/v1/user-token"

        var base_profile_img = document.getElementById("base-profile-img")
        var base_profile_name = document.getElementById("base-profile-name")
        var base_profile_email = document.getElementById("base-profile-email")

        try {
            const result = await getData(url, localStorage.token);
            if (result.code === 0){
                user.lg_fullname.innerHTML = result.data["fullname"];
                fields_account.fullname.input.value = result.data["fullname"];
                fields_account.address.input.value = result.data["address"];
                fields_account.email.input.value = result.data["email"];
                fields_account.number.input.value = result.data["number"];
                fields_account.cccd.input.value = result.data["cccd"];
                base_profile_name.innerHTML = result.data["fullname"];
                base_profile_email.innerHTML = result.data["email"]
                base_profile_img.innerHTML = result.data["fullname"][0];

                var currentDate = new Date();
                var premium_start = new Date(result.data["premium_start"])
                const days = Math.floor((currentDate - premium_start) / (1000 * 60 * 60 * 24));

                if(result.data["premium"] > 0 &&  days <= result.data["premium"]){
                    document.getElementById("icon-premium").style.visibility = "visible";
                    document.getElementById("account-premium-time").innerHTML = `Thời gian premium còn lại là ${result.data["premium"] - days} ngày`;
                }
                
                openLogin();
                userCurrentId = result.data["id"]
            }
            else{
                window.location.href = "/api/v1"
            }
        } catch (error) {
            window.location.href = "/api/v1"
        }
    }

    async function cickSaveAccount(){
        url = baseURL + "/user/upload-account"

        data = {
            'fullname': fields_account.fullname.input.value,
            'address': fields_account.address.input.value
        }

        try {
            const result = await postData(url, data, localStorage.token);
            if (result.code === 0){
                user.lg_fullname.innerHTML = result.data["fullname"];
                user.ls_fullname.innerHTML = result.data["fullname"];
                fields_account.fullname.input.value = result.data["fullname"];
                fields_account.address.input.value = result.data["address"];
                show_base_alert(0, result.message)
            }
            else{
                show_base_alert(-1, result.message);
            }
        } catch (error) {
            console.log(error.message);
        }
    }

    function reloadFieldsPasswordError(){
        Object.keys(fields_password).forEach((key) => {
            if(fields_password[key].input.classList.contains('is-invalid')){
                fields_password[key].input.classList.remove('is-invalid');
                fields_password[key].error.innerHTML = "";
            }
        });
    }

    async function clickSavePassword(){
        url = baseURL + "/user/upload-password"

        data = {
            'oldpassword': fields_password.oldpassword.input.value,
            'password': fields_password.password.input.value,
            'repassword': fields_password.repassword.input.value
        }

        try {
            const result = await postData(url, data, localStorage.token);
            reloadFieldsPasswordError();
            if (result.code === -2){
                const errors = result.data;

                Object.keys(errors).forEach((key) => {
                    fields_password[key].input.classList.add('is-invalid');
                    fields_password[key].error.innerHTML = errors[key][0];
                });
            }
            else if (result.code === 0){
                show_base_alert(0, result.message)
                reloadFieldsPasswordError();
            }
            else{
                show_base_alert(-1, result.message);
            }
        } catch (error) {
            console.log(error.message);
        }
    }
</script>
{% endblock %}