<p>Chào {{user.fullname}},</p>
<p>Chúng tôi rất tiếc phải thông báo rằng tài liệu <strong>{{document.document_name}}</strong> của bạn đã bị xóa khỏi <strong>EduShare</strong>
    vì vi phạm <strong>quy định của hệ thống</strong>.</p>
<p>Cụ thể, tài liệu của bạn đã vi phạm:</p>
<blockquote>
    [Trích dẫn quy định bị vi phạm]
</blockquote>
<p>Chúng tôi hiểu rằng bạn có thể thất vọng về điều này, nhưng chúng tôi phải đảm bảo rằng tất cả nội dung trên nền tảng
    của chúng tôi tuân thủ các tiêu chuẩn của chúng tôi.</p>

<p>Bạn có thể tìm hiểu thêm về các quy định của chúng tôi tại <a href="http://174.129.69.18/quy_dinh">Liên kết đến trang quy định</a>.</p>
<p>Nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào, vui lòng liên hệ với chúng tôi tại <a
        href="mailto:aedushare@gmail.com">aedushare@gmail.com</a>.</p>
<p>Trân trọng,</p>
<p>Admin</p>