<p>Kính gửi Admin,</p>

<p>Tài liệu bị báo cáo: </p>
<p>Tên tài liệu: <span class="h3">{{document.document_name}} - ID: {{document.id}} </span></p>
<p>Được tạo bởi: </p>
<p>Họ và tên: {{ document.fullname }}</p>
<p>Email: {{ document.email }}</p>

<p>{{content}}</p>
<p>Tôi yêu cầu bạn vui lòng xem xét tài liệu này và thực hiện hành động thích hợp. Tôi tin rằng tài liệu này nên bị xóa khỏi EduShare vì nó vi phạm các chính sách của bạn.
Nếu bạn có bất kỳ câu hỏi hoặc cần thêm thông tin, xin vui lòng liên hệ với tôi. Tôi rất sẵn lòng hỗ trợ.
<p>Cảm ơn bạn đã dành thời gian xem xét vấn đề này.</p>

<p>Trân trọng, </p>
<p>{{ user.fullname }}</p>
<p>{{ user.email }}</p>