<!-- Footer -->
<footer id="footer" class="text-center text-lg-start bg-body-tertiary text-muted pt-2" style="background-color: white; margin-top: 80px; 
border-top: solid 1px rgba(0, 0, 0, 0.05);">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h4 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>EduShare
            </h4>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Trợ giúp
            </h6>
            <p>
            <a href="/terms" class="text-reset">Điều khoản sử dụng</a>
            </p>
            <p>
            <a href="/privacy-policy" class="text-reset">Chính sách bảo mật</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Giới thiệu
            </h6>
            <p>
            <a href="/about-us" class="text-reset">EduShare là gì?</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Hỗ trợ khách hàng</h6>
            <p>
            <i class="fas fa-envelope me-3"></i>
            aedushare@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +84389682304</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="/api/v1">EduShare</a>
    </div>
    <!-- Copyright -->
</footer>
